.root {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media (min-width: $tablet-l) {
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-color;
  cursor: pointer;
}

.container {
  position: absolute;
  overflow-y: auto;
  top: 64px;
  height: calc(100% - 64px);
  z-index: 1;
  width: 100%;
  background: $mobile-menu-bg-color;

  @media (min-width: 500px) {
    width: 320px;
  }
}

.content {
  background: $mobile-menu-bg-gradient;
  padding: 10px 0 60px;
  border-radius: 10px 10px 0 0;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
