.button {
  font-size: var(--font-size-s);
  font-family: var(--font-family);
  font-weight: var(--fontNormal);
  line-height: normal;

  padding: 8px 24px;

  border: none;
  border-radius: 6px;
  outline: none;

  background: var(--button-bg-primary);
  color: var(--white-color);
  background-image: var(--gradient);
  background-position: left;
  background-size: 200%;

  transition: all var(--transition-short) ease;

  &:focus {
    outline: none;
  }

  &:hover {
    background-position: right;
    transition: all var(--transition-short) ease;
  }
}