$font-size-xxs: 12px;
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 32px;
$font-size-xl: 42px;
$fontNormal: 400;
$fontMedium: 500;
$fontBold: 700;
$font-name: 'SharpGrotesk';

$font-family: $font-name, sans-serif;


$white: #FFFFFF;
$seasalt: #f8f8f8;
$lavender: #DFE5F5;
$battleship-gray: #999999;
$cool-gray: #818698;
$aquamarine: #52ffe0;
$turquoise: #3fc9b0;
$oxford-blue: #0a142f;
$jet: #2c2d31;
$night: #101010;
$raisin-black: #1d1e22;

$bg-color: $night;
$text-color: $white;
$extra-text-color: $cool-gray;
$primary-color: $aquamarine;
$container-color: $raisin-black;
$accent-color: $jet;

$gradient-start: #3cffee;
$gradient-end: #00d1b4;
$gradient: linear-gradient(90deg, $gradient-start, $primary-color, $gradient-end);