@import './theme.scss';
@import './utils.scss';

html,
body {
  font-size: 16px;
  height: 100%;
}

html {
  font-family: var(--default-font-family);
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: #000;
  color: #f3f3f3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  color: #16a7ff;
  text-decoration: none;
  background-color: transparent;
}

.mobileMenuOpened {
  overflow: hidden;
}
