@import './utils.scss';

html,
body {
  font-size: 16px;
  height: 100%;
}

html {
  font-family: $default-font-family;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: $main-color-black;
  color: $body-text-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: $link-color-hover;
  }
}

.mobileMenuOpened {
  overflow: hidden;
}
