:root {
  --header-menu-item-color: rgba(245, 245, 247, 0.6);

  --mobile-menu-bg-gradient: linear-gradient(to top, #1e2125 0%, rgba(30, 33, 37, 0) 100%),
    #000;
  --mobile-menu-bg-color: #242429;

  --overlay-color: rgba(3, 3, 3, 0.6);

  --default-font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', system-ui, -apple-system,
    Arial, sans-serif;

  --white-color: #fff;

  --text-color: #898989;
  --text-color-lighter: #ababae;
  --text-color-light: #c3c3c3;
  --text-color-lightest: #f5f5f7;
}
