:root {
  --font-size-xxs: 12px;
  --font-size-xs: 16px;
  --font-size-s: 18px;
  --font-size-m: 24px;
  --font-size-l: 32px;
  --font-size-xl: 42px;
  --fontNormal: 400;
  --fontMedium: 600;
  --fontBold: 700;
  --font-name: 'SharpGrotesk';

  --font-family: var(--font-name), sans-serif;

  --white-color: #fff;
  --main-color-black: #000;
  --main-color-white: #f5f5f7;
  --additional-text-color: #f5f5f7;

  --button-bg-primary: #16a7ff;
  --button-bg-primary-hover: #1981cc;

  --button-bg-secondary: #e2e3e7;
  --button-bg-secondary-hover: #dbdcdf;
  --button-bg-secondary-active: #c7c7cb;

  --transition-short: 0.15s;
  --transition-long: 0.3s;

  --gradient-start: #16a7ff;
  --gradient-end: #1981cc;
  --gradient: linear-gradient(90deg, var(--gradient-start), #16a7ff, var(--gradient-end));
}

$default-font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', system-ui, -apple-system,
  Arial, sans-serif;

$appbar-bg-color: #242429;

$white-color: #fff;

$header-menu-item-color: rgba(245, 245, 247, 0.6);

$mobile-menu-bg-color: #242429;
$mobile-menu-bg-gradient: linear-gradient(to top, #1e2125 0%, rgba(30, 33, 37, 0) 100%),
  #000;

$overlay-color: rgba(3, 3, 3, 0.6);

$main-color-black: #000;
$body-text-color: #f3f3f3;

$link-color: #16a7ff;
$link-color-hover: #56bfff;

$text-color: #898989;
$text-color-lighter: #ababae;
$text-color-light: #c3c3c3;
$text-color-lightest: #f5f5f7;

$font-size-xxs: 12px;
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 32px;
$font-size-xl: 42px;
$fontNormal: 400;
$fontMedium: 600;
$fontBold: 700;
$font-name: 'SharpGrotesk';

$font-family: $font-name, sans-serif;
$white-color: #fff;
$main-color-black: #000;
$main-color-white: #f5f5f7;
$additional-text-color: #f5f5f7;

$button-bg-primary: #16a7ff;
$button-bg-primary-hover: #1981cc;

$button-bg-secondary: #e2e3e7;
$button-bg-secondary-hover: #dbdcdf;
$button-bg-secondary-active: #c7c7cb;

$transition-short: 0.15s;
$transition-long: 0.3s;

$gradient-start: #16a7ff;
$gradient-end: #1981cc;
$gradient: linear-gradient(90deg, $gradient-start, #16a7ff, $gradient-end);

$table-head-cell-bg: #2d2d30;
$table-head-cell-text-color: #979797;
$table-odd-row-bg: #100f0f;
$table-even-row-bg: #161516;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 568px;
$tablet: 768px;
$tablet-m: 900px;
$tablet-l: 1024px;
$desktop: 1200px;
$desktop-l: 1440px;
