.menu {
  @media (max-width: $tablet-l) {
    display: none;
  }
}

.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationItem {
  position: relative;
  display: inline-block;
  vertical-align: top;

  line-height: 66px;
  font-size: $font-size-s;
  font-weight: 600;

  padding: 0 12px;
  height: 66px;
}

.navigationLink {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  line-height: 21px;
  padding: 8px 0;

  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  color: $main-color-white;
  opacity: .8;

  transition: opacity .1s;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;

    background-color: transparent;
    border-radius: 9px;
    opacity: 0.8;
    transition: opacity .1s;
  }

  &:hover::after {
    background-color: hsla(0, 0%, 100%, .8);
    opacity: 1;
  }
}

.navigationLinkActive {
  color: $main-color-white;
  opacity: 1;

  &::after {
    background-image: $main-gradient;
    opacity: 1;
  }
}

.navigationItemOpen>.dropdown {
  display: block;
}


.navigationItemOpen .navigationLink {
  color: $main-color-white;
  opacity: 1;

  &::after {
    background-color: $main-color-white;
    opacity: 1;
  }
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 50;
  top: 100%;
  left: 0;

  margin-top: -15px;
  padding: 8px 0;

  white-space: nowrap;
  min-width: 100%;
  background-color: $bg-dropdown-color;
  border: 1px solid $dropdown-border-color;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.dropdownItem {
  position: relative;
  display: block;
  line-height: normal;
  white-space: nowrap;
}

.dropdownLink {
  position: relative;
  display: block;
  padding: 0 16px;

  font-size: $font-size-info;
  line-height: 32px;
  font-weight: 400;
  min-height: 32px;


  color: $white-color;
  cursor: pointer;
  opacity: .8;
  transition: background-color .1s;

  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .25);
    color: $white-color;
  }
}

.dropdownItemSeparator {
  margin-bottom: 13px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 38px;
    left: 18px;

    background-color: $btn-dark-color;
    opacity: 1;

    width: calc(100% - 40px);
    height: 1px;
    min-height: 1px;
    cursor: default;
  }
}

.dropdownItemIcon {
  min-width: 180px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;

    width: 42px;
    height: 21px;

    pointer-events: none;
    background-image: url("./simpleGames.png");
    transform: translateY(-50%);
    background-size: cover;
  }
}